:host {
  display: block;
  height: 100vh;
}

.auth-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  padding: 20px;
}


.auth-card-stack {
  position: relative;
  width: 100%;
  max-width: 480px;
}

.stack-layer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.06);
}



.auth-card {
  position: relative;
  z-index: 3;
  background:333333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 56px 40px;
  backdrop-filter: blur(14px);
}

.auth-header {
  margin-bottom: 40px;
}

.logo img {
  width: 140px;
  object-fit: contain;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #ccc;
    transition: 0.2s ease;
  }

  input {
    width: 100%;
    padding: 16px 18px;
    border-radius: 14px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #333333;
    color: #fff;
    outline: none;
    transition: all 0.25s ease;

    &:focus {
    border-color: #F6AA1B;

  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #333333 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 0s ease-in-out 0s;
  }

  &:selection {
    background: rgba(246, 170, 27, 0.3);
    color: #fff;
  }
  }
}

.password-wrapper {
  position: relative;

  input {
    padding-right: 48px;
  }
}

.eye-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s ease;

  &:hover {
    color: #ffffff;
  }

  svg {
    pointer-events: none;
  }
}

.next-btn {
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
  background: #ffa600;
  color: #000000;

  &:hover {
    background: #da920e;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
