.square-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: 96vh;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #181818;
  gap: 20px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 40px 30px;
}

.logo {
  width: 120px;
  object-fit: contain;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px;
}

.menu-links a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.2s ease;
  gap: 12px;

  &:hover {
    background-color: var(--accent);
  }
}

.menu-links a.active {
  font-weight: 500;
  background-color: var(--accent);
}

.menu-group {
  display: flex;
  flex-direction: column;
}

.submenu {
  margin-left: 25px;
  border-left: 1.5px solid #333;
  padding-left: 4px;
  margin-top: 2px;
  margin-bottom: 8px;
}

.sub-link-container {
  padding-right: 10px;
  border-radius: 8px;
  margin: 1px 0;
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    margin-left: 5px;
  }
}

.sub-link {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 25px !important;
  font-size: 14px !important;
  color: #777 !important;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease;
  background: transparent !important;

  &::before {
    content: "";
    position: absolute;
    left: -5.5px;
    top: 0;
    width: 20px;
    height: 20px;
    border-left: 1.5px solid #333;
    border-bottom: 1.5px solid #333;
    border-bottom-left-radius: 10px;
    transition: border-color 0.2s ease;
  }

  &:hover, &.sub-active {
    color: #ffffff !important;

    &::before {
      border-color: var(--accent);
      border-left-width: 1.5px;
    }
  }
}

.sub-link-container:last-child .sub-link::before {
  background-color: #181818;
  height: 21px;
  top: -1px;
}

.square-menu .log-out {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  margin-top: auto;
  font-size: 16px;
  color: var(--black);
  cursor: pointer;
  gap: 12px;
}

.faculty-link {
  padding: 2px !important;
  margin-left: 36px;
  font-size: 13px !important;
}
